<div class="bottom-navigation-bar">
  <div id="esn-list" class="navigation-button" onclick="changeView('esn-list');">
    <i class="button-icon bi bi-people-fill"></i>
    <span class="button-title">ESN List</span>
  </div>
  <div id="public-wall" class="navigation-button" onclick="changeView('public-wall');">
    <i class="button-icon bi bi-collection-fill"></i>
    <span class="button-title">Public Wall</span>
  </div>
  <div id="chats" class="navigation-button" onclick="changeView('chats')">
    <i class="bi bi-circle-fill d-none" id="chats-notification-icon"></i>
    <i class="button-icon bi bi-chat-dots-fill"></i>
    <span class="button-title">Chats</span>
  </div>
  <div id="announcements-view" class="navigation-button" onclick="changeView('announcements-view')">
    <i class="button-icon bi bi-megaphone-fill"></i>
    <span class="button-title">Announcement</span>
  </div>
  <!-- <div id="medical-wall-view" class="navigation-button" onclick="changeView('medical-wall-view')">
    <i class="button-icon bi bi-clipboard2-pulse-fill"></i>
    <span class="button-title">Med Wall</span>
    </div> -->
  <!-- <div id="medical-supplies-exchange" class="navigation-button" onclick="changeView('medical-supplies-exchange')">
    <i class="button-icon bi bi-bag-plus-fill"></i>
    <span class="button-title">Med Supply</span>
  </div> -->
</div>
<script src="/js/partials/footer.js"></script>