<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='./css/bootstrap.min.css' />
  <link rel='stylesheet' href='./css/bootstrap-icons.css' />
  <link rel='stylesheet' href='/stylesheets/login_page.css' />
</head>

<body>
  <div class="login-container">
    <div class="loader-wrapper">
      <div class="loader-flex-wrapper">
        <div class="loader-container">
          <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="mt-2">
            <span class="text-muted">Loading..</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-image"></div>

    <div class="login-form">
      <div class="wireless-icon text-center">
        <img src="/icons/wireless.svg" height="140" width="140" />
      </div>
      <div class="secondary-container shadow">
        <div class="header">
          ESN
        </div>
        <form id="join-community-form">
          <div class="username-field-box">
            <input type="text" minlength="3" name="username" required class="form-control form-control-lg"
              id="usernameFormControlInput" placeholder="Username">
          </div>
          <div class="password-field-box">
            <input type="password" minlength="4" name="password" required class="form-control form-control-lg"
              id="passwordFormControlInput" placeholder=" Password">
          </div>
          <div class="error-message-box">
            <span>NA</span>
          </div>
          <div class="buttons-container">
            <button type="submit" class="join-button btn btn-primary btn-lg">Join Community</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Join Community Confirmation Modal -->
    <div class="modal fade" id="joinCommunityConfirmationStaticBackdropModal" data-bs-backdrop="static"
      data-bs-keyboard="false" tabindex="-1" aria-labelledby="joinCommunitystaticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="joinCommunitystaticBackdropLabel">
              Join Community
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Please confirm that you would like to join the community with the given username.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="joinCommunityConfirmButton" class="btn btn-success">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Welcome Message Modal -->
    <div class="modal fade" id="welcome-modal" tabindex="-1" role="dialog" data-bs-backdrop="static"
      data-bs-keyboard="false" aria-labelledby="welcome-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="welcome-modal-label">Welcome to Emergency Social Network (ESN)!</h5>
          </div>
          <div class="modal-body">
            <h6>Here is a brief explanation of various statuses you could share in this app:</h6>
            <table class="table message-modal-table">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Icon</th>
                  <th scope="col">Explanation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>OK</td>
                  <td class="text-center"><i class="bi bi-check-circle-fill" style="color:green; font-size: 2vh;"></i>
                  </td>
                  <td>I am OK: I do not need help.</td>
                </tr>
                <tr>
                  <td>Help</td>
                  <td class="text-center"><i class="bi bi-exclamation-circle-fill"
                      style="color:#ecde16; font-size: 2vh;"></i></td>
                  <td>I need help, but this is not a life threatening emergency.</td>
                </tr>
                <tr>
                  <td>Emergency</td>
                  <td class="text-center"><i class="bi bi-plus-square-fill" style="color:red; font-size: 2vh;"></i></td>
                  <td>I need help now: this is a life threatening emergency!</td>
                </tr>
                <tr>
                  <td>Undefined</td>
                  <td class="text-center">N/A</td>
                  <td>The user has not provided any status info.</td>
                </tr>
              </tbody>
            </table>

            <h6>To share orupdate your status:</h6>
            <ul class="status-steps-list">
              <li>Go to the menu at the top left corner</li>
              <li>Select "Share Status"</li>
              <li>Then choose one of the status provided</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" id="acknowledge-button" class="btn btn-primary" data-bs-dismiss="modal">
              I acknowledge that I understood the above explanation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/md5.min.js"></script>
  <script>
    const backendURL = "<%= process.env.serverURL %>";
  </script>
  <script src="/js/requests.js"></script>
  <script src="/js/login_page.js"></script>
</body>

</html>