.esn-list-container {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	position: relative;
}

.esn-list-container .list-container {
	padding: 16px 10px;
	display: flex;
	flex-direction: column;
}

.list-item {
	display: flex;
	width: 100%;
	background-color: white;
	border: 1px solid #eeeeee;
	border-radius: 8px;
	padding: 12px 8px;
	justify-content: start;
	margin-bottom: 12px;
	align-items: center;
	position: relative;
}

.list-item .name {
	font-size: 16px;
	color: #212121;
	font-weight: 500;
}

.list-item .status {
	font-size: 22px;
	color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 4px;
	margin-right: 8px;
	position: relative;
}

.list-item.online .status::after {
	content: '';
	height: 16px;
	width: 16px;
	background-color: #4caf50;
	position: absolute;
	bottom: -2px;
	right: 0;
	border-radius: 50%;
	padding: 2px;
	border: 3px solid white;
}

.list-item.offline {
	box-shadow: none !important;
}

.list-item .esn-list-user-status {
	margin-left: auto;
	color: #bdbdbd;
}

.list-item .esn-list-user-status i {
	font-size: 20px;
}

.list-item .user-status i {
	font-size: 20px;
}